
ul {
    list-style-type: none;
}
 a {
    text-decoration: none;
 }

 .btn {
    background-color: rgb(22,93,251);
    color: white;
    border-radius: 5%;
    border: none;
 }

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgba(79, 81, 83, 0.949); 
    height: 42px;
    margin-inline: 40px;
    background-color: #fff;
}

.header-logo-image,
.header-title {
  vertical-align: middle;
  margin-inline: 5px;
}

.header-title {
    font-weight: 900;
    font-size: 1.2em;
}

.header-menu-list {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.header-menu {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.header-menu-list a {
    color: rgba(79, 81, 83, 0.949); 
}

.header-start {
    
    width: 110px;
    font-size: 15px;
}

.header-start:hover {
    background-color: #2c226f;
}

.header-menu-item a:hover {
    font-size: 1.3em;
}

.hero-section {
    height: 340px;
    text-align: center;
    padding-block: 100px;
   
}

.top-gradient {
  background: linear-gradient(to bottom, rgb(238,246,255), white) fixed;}

.stats-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-inline: auto;
    margin-top: 50px;
    

}

.stat-number {
    color: rgb(22,93,251);
    font-size: 1.5em;
    font-weight: 900;
}

.button-container .btn {
    width: 160px;
    height: 45px;
}

.btn-primary {
    font-weight: 700;
    margin-right: 10px;
}

.btn-primary:hover {
    background-color: #2c226f;
}

.btn-secondary {
    background-color: #fff;
    color: black;
    border: 1px solid rgb(230,232,235);
    margin-left: 10px;
}

.btn-secondary:hover {
    background-color: #c3c1c1;
}

.icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

.icon-galochka {
    background-color: rgb(219,234,254);
}

.icon-strela {
    background-color: rgb(220,252,231);
}

.icon-diagram {
    background-color: rgb(243,232,255);
}

.icon-circle {
    background-color: rgb(255,236,212);
}

.icon-medal {
    background-color: rgb(253,231,243);
}

.icon-kalendar {
    background-color: rgb(203,251,241);
}

.icon img {
    width: 30px;
}

.features-section {
    text-align: center;
}

.features-item:nth-child(2) img {
    width: 40px;
}

.features-container {
    margin-top: 60px;
    width: 70%;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    margin-inline: auto;
}

.features-item {
    width: 280px;
    height: 170px;
    padding: 20px;
    background-color: rgb(249,250,251);
    border-radius: 10%;
}



.works-section {
    background-color: rgb(249,250,251);
    text-align: center;
    padding-block: 30px;
    margin-top: 40px;
}

.works-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-block: 30px;
    margin-top: 50px;
    padding: 0 20px;
    margin-inline: auto;
    width: 100%;
    max-width: 900px;
}

.works-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    margin: 0px;
}

.works-number {
    border-radius: 50%;
    background-color: rgb(22,93,251);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    color: white;
    font-weight: 900;
}

.works-item-description {
    margin: 0;
    padding: 0;
}

.works-item-description {
    margin: 0;
    padding: 0;
    font-size: 11px;
}

.works-item-title {
    line-height: 30%;
}

.start-section {
    background-color: rgb(22,93,251);
    width: 100%;
    color: white;
    text-align: center;
    padding-block: 35px;
}

.btn-now {
    background-color: white;
    color: rgb(22,93,251);
    width: 100px;
    height: 30px;
}

.btn-now:hover {
    background-color: #2c226f;
    color: white;
}

.footer {
    background-color: rgb(16,24,40);
    color: white;

}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 80px;
    
}

.about-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.about-item a:nth-child(1),
.footer-logo span {
    font-weight: 900;
}

.about-item a:not(:nth-child(1)) {
    cursor: pointer;
}





